<%= javascript_import_module_tag "map" %>

<h1
  id="sector-head"
  data-sector="<%= @sector.to_json%>"
  data-plants="<%= @plants_in_sector.to_json%>"
>
  <%= @sector.name %>, <%= @sector.id %>
</h1>

<p><%= @sector.coordinates%></p>
